
body {
    background-color: black;
    color: white;
}

/*jumbotron*/
.jumbotron {
    background-color: black;
    color: #eeeeee;
    text-align: center;
    font-family: "BlinkMacSystemFont", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 0px;
    padding: 0px;
}

/*general labels*/
.info-label {
    text-align: center;
    font-family: "BlinkMacSystemFont", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: large;
}

/*buttons*/
.btn-life {
    height: 40px;
    justify-content: center;
    width: 100%;
}

.btn-information {
    background-color: black;
    border-color: white;
}

#infinity-button {
    border-color: magenta;
}

#one-button {
    border-color: cyan;
}

#pause-button {
    border-color: yellow;
}

#infobar-row, #controlbar-row {
    background-color: #000000;
    margin-bottom: 10px;
}

/*slider*/
#slider-container {
    text-align: center;
}

#slider .slider-tick,
#slider .slider-track-high {
    border:1px solid grey;
  	background: #000000;
}

#slider .slider-selection,
#slider .slider-tick.in-selection,
#slider .slider-handle {
    border:1px solid #FF5349;
  	background: #000000;
}

/*canvas*/
#canvas-container {
    /*height: 500px;*/
    height: 100%;
    width: 100%;
    justify-content: center;
    padding: 0px;
    margin: 0 auto;
}

#lifesketch {
    padding: 0px;
    width: auto;
    height: 100%;
}

/*modal*/
.modal {
    color: black;
}
