body {
    background-color: black;
}

.jumbotron {
    background-color: black;
    color: #eeeeee;
    text-align: center;
    font-family: "BlinkMacSystemFont", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 0px;
    padding: 0px;
}

#jumbotron-container, #jumbotron-h1, #jumbotron-p {
    /*margin: 0px;*/
}

#canvas-container {
    height: 500px;
}
canvas {
    width: 100%;
    height: auto;
    /*border: purple 5px;*/
    /*border-width: 2px;*/
    /*border-color: purple;*/
}

.btn-life {
    height: 40px;
    justify-content: center;
    /*font-size: 24px;*/
    width:100%;
}

#controlbar-row {
    background-color: #000000;
}