body {
    background-color: black;
    color: white;
}

.jumbotron {
    background-color: black;
    color: #eeeeee;
    text-align: center;
    font-family: "BlinkMacSystemFont", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 0px;
    padding: 0px;
}

#jumbotron-container, #jumbotron-h1 {
    /*margin: 0px;*/
}

#status {
    text-align: center;
    font-family: "BlinkMacSystemFont", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: large;
}

#canvas-container {
    /*height: 500px;*/
    height: 100%;
    width: 100%;
    justify-content: center;
    padding: 0px;
    margin: 0 auto;
}
/*canvas {*/
#lifesketch {
    padding: 0px;
    width: auto;
    height: 100%;
    /*border: purple 5px;*/
    /*border-width: 2px;*/
    /*border-color: purple;*/
}

.btn-life {
    height: 40px;
    justify-content: center;
    /*font-size: 24px;*/
    width:100%;
}

.btn-information, .btn-information:active {
    height: 40px;
    justify-content: center;
    /*font-size: 24px;*/
    width:100%;
    background-color: black;
    border-color: white;
}

#aliveCount {
    background-color: rgb(255,0,255);
}

.btn-about {
    color: white;
    background-color: transparent;
    border: none;
    height: 40px;
    justify-content: center;
    width:100%;
}
.btn-about:hover {
    color: black;
    background-color: white;
}.btn-about:active {
    background-color: transparent;
}

#controlbar-row {
    background-color: #000000;
    margin-bottom: 10px;
}
#infobar-row {
    background-color: #000000;
    margin-bottom: 10px;
}